.india-map {
    display: flex;

    justify-content: center;
}

.india-map .svg-map {
    stroke: white;
    width: 45vw;
}

@media (max-width: 700px) {
    .india-map .svg-map {

        width: 80vw;
    }
}

.india-map .svg-map__location {
    cursor: pointer;
    fill: grey;
}

.india-map .svg-map__location:focus,
.india-map .svg-map__location:hover {
    opacity: 0.75;
}

.tooltip {
    position: fixed;
    width: 200px;
    padding: 10px;
    border: 1px solid darkgray;
    background-color: white;
    animation: tooltip-animation 0.5s;
    /* transition: top 0.5s; */
}

.location-red{
    fill: red !important;
}

.location-green{
    fill: green !important;
}

.location-orange{
    fill: orange !important;
}

@keyframes tooltip-animation{
    from{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        transform: scale(1.3);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}