.india-map {
    display: flex;

    justify-content: center;
}

.india-map .svg-map {
    stroke: white;
    width: 45vw;
    stroke-width: 0.75px;

    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s ease-in-out 2.5s forwards;
    
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

@keyframes fade-in{
    from{
        opacity: 0 ;
    }
    to{
        opacity: 1;
    }
}

.tooltip {
    position: fixed;
    width: 250px;
    padding: 5px;
    background-color: white;
    animation: tooltip-animation 0.5s;
    border-radius: 20px;
    text-align: left;
    /* transition: top 0.5s; */
}



@keyframes indiamap-animation{
    from{
        /* transform: translateX(-200px); */
        opacity: 0;
       
    }   
    to{
        /* transform: translateX(0); */
        opacity: 1;
        
    }
}


.india-map .svg-map__location {
    cursor: pointer;
    fill: grey;
    transition: opacity 0.5s, stroke-width 0.5s;

}

.india-map .svg-map__location:focus,
.india-map .svg-map__location:hover {
    opacity: 0.75;
    stroke-width: 2px;

}



.location-red{
    /* opacity: 0; */
    fill: #e12424 !important;
    animation: indiamap-animation 0.75s linear both;
}

.location-green{
    /* opacity: 0; */
    fill: green !important;
    animation: indiamap-animation 0.75s linear 1.5s both;
}

.location-orange{
    opacity: 0;
    fill: orange !important;
    animation: indiamap-animation 0.75s linear 0.75s both;
}

@keyframes tooltip-animation{
    from{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        transform: scale(1.3);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.up-arrow-style{
    transform: rotate(90deg);
    height: 0;
    animation: up-arrow-fade 2s infinite 0.5s;
}

@keyframes up-arrow-fade{
    from{
        height: 0;
    }
    to{
        height: 15px;
    }
}

.green-arrow{
    stroke: green;
    fill:green;
}

.red-arrow{
    stroke: #e12424;
    fill:#e12424;
}

.orange-arrow{
    stroke: orange;
    fill:orange;
}

.legends{
    display: inline-flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.legend-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.legend-box{
    margin-right: 2px;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
}


@media (max-width: 799px) {
    .india-map .svg-map {

        width: 80vw;
    }

    .legends{
        font-size: 10px;
        width: 80%;
    }

    .legend-box{
        height: 10px;
        width: 10px;
    }
    .tooltip {
        width: 150px;
        font-size: 12px;
    }

    @keyframes up-arrow-fade{
        from{
            height: 0;
        }
        to{
            height: 12px;
        }
    }

}

@media (max-width: 500px){
    .india-map .svg-map {

        width: 100vw;
    }
}



