.india-map {
    display: flex;

    justify-content: center;
}

.india-map .svg-map {
    stroke: white;
    width: 45vw;
    stroke-width: 1.5px;

    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s ease-in-out 2.5s forwards;
    
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

@keyframes fade-in{
    from{
        opacity: 0 ;
    }
    to{
        opacity: 1;
    }
}

.tooltip {
    font-size: 14px;
    position: fixed;
    width: 250px;
    padding: 10px;
    background-color: white;
    animation: tooltip-animation 0.5s;
    border-radius: 20px;
    /* transition: top 0.5s; */
}



@keyframes indiamap-animation{
    from{
        /* transform: translateX(-200px); */
        opacity: 0;
        fill-opacity: 0;
    }   
    to{
        /* transform: translateX(0); */
        opacity: 1;
        fill-opacity: 1;
    }
}

.india-map .svg-map__location {
    cursor: pointer;
    fill: grey;
}

.india-map .svg-map__location:focus,
.india-map .svg-map__location:hover {
    opacity: 0.75;
}



.location-red{
    fill: #e12424 !important;
    animation: indiamap-animation 0.75s linear both;
}

.location-green{
    fill: green !important;
    animation: indiamap-animation 0.75s linear 1.5s both;
}

.location-orange{
    fill: orange !important;
    animation: indiamap-animation 0.75s linear 0.75s both;
}

@keyframes tooltip-animation{
    from{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        transform: scale(1.3);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.up-arrow-style{
    transform: rotate(90deg);
    height: 0;
    animation: up-arrow-fade 2s infinite 0.5s;
}

@keyframes up-arrow-fade{
    from{
        height: 0;
    }
    to{
        height: 15px;
    }
}

.green-arrow{
    stroke: green;
    fill:green;
}

.red-arrow{
    stroke: #e12424;
    fill:#e12424;
}

.orange-arrow{
    stroke: orange;
    fill:orange;
}


@media (max-width: 700px) {
    .india-map .svg-map {

        width: 90vw;
    }

    /* .tooltip{
        width: 150px;
        font-size: 12px;
    }

    @keyframes up-arrow-fade{
        from{
            height: 0;
        }
        to{
            height: 12px;
        }
    } */
    
}